/* 
  ================
  COMPONENT STYLES
  ================
*/

/* MainDisplay */

#main-content {
  width: 1000px;
  padding: 20px 30px;
  margin: auto;
}

#main-partners-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 25px;
}

h1.title {
  text-align: center;
  font-size: 24pt;

  padding-bottom: 25px;
}

/* PartnerTile */

.partner-tile {
  width: 450px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #3d3d3d;
  border-radius: 12px;

  padding: 25px;
}

.partner-thumbnail {
  max-width: 330px;
  max-height: 150px;
}

.partner-info {
  font-size: 0.9em;
  overflow-y: auto;
}
.partner-status {
  font-weight: 600;
}
.Active {
  color: rgb(101, 255, 175);
}

.Inactive {
  color: rgb(255, 101, 101);
}
.label-input {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.partner-form {
  display: flex;
  width: 70vw;
  gap: 20px;
  border: 1px solid rgb(101, 255, 175);
}

.submit {
  padding: 10px;
  background-color: #04aa6d;
  color: white;
}
